<p>
    @*Ya que este Crear Nuevo se usara varias veces, lo volveremos un partial view, el Create a llamar correspondera al quie este en el mismo nivel en el que
        este partial view fue llamado*@
    <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus-square"></i> &nbsp; Crear Nuevo</a>
</p>