@model int

<div class="row">
    <div class="col-6">
        @*Aqui ya no sera necesariomodel Model.Id *@
        <input type="submit" class="btn btn-danger form-control" asp-route-Id="@Model" value="Eliminar" />
    </div>

    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Volver</a>
    </div>
</div>
