@model int

<div class="row">
    <div class="col-6">
        @*Aqui ya no sera necesariomodel Model.Id *@
        @*Ponemos un asp action que reotorne a la vista Edit*@
        <a asp-action="Edit" asp-route-id="@Model" class="btn btn-primary">Editar</a>
    </div>

    <div class="col-6">
        <a asp-action="Index" class="btn btn-inverse">Volver</a>
    </div>
</div>
