@model int

<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-primary" asp-route-id="@Model" value="Actualizar" />
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-inverse">Volver</a>
    </div>
</div>